@import './_config';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:wght@800&display=swap');

.login-page {
    display: flex;
    justify-content: center;
    background-color: #3f51b5;
    height: 100vh;
    .card-body {
        width: 60vw;
        height: 425px;
    }
    form {
        padding-top: 20px;
    }
}

#site-title {
    text-align: center;
    margin: 50px 0 50px 0;
    font-family: 'Kaushan Script', cursive;
    font-size: calc(30px + 4vw);
    color: white;
}

.signup-page {
    display: flex;
    justify-content: center;
    background-color: #3f51b5;
    .card-body {
        width: 60vw;
        height: 710px;
    }
    padding-bottom: 30px;
    .signup-error {
        margin-bottom: 0;
        color: red;
    }
}

.search-nav-item {
    margin-right: 20px;
}

.nav-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
}

.add-business-item {
    padding-right: 30px;
    .add-business-link {
        font-size: 20px;
    }
}

.search-form {
    font-size: 18px;
}

#login-btn {
    border-radius: 30px;
    width: 30vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.menu-dropdown {
    margin-right: 10px;
}

.dashboard-card {
    max-width: 450px;
    margin: 0 auto;
}

.dashboard-rating {
    position: relative;
    top: 35px;
}

.carousel-image {
    min-height: 275px;
    background-size: 100% 100%;
    margin: 1px 1px;
}

.carousel {
    padding-top: 102px;
}

.detail-price-category {
    padding-top: 20px;
}

.review-btn {
    margin-left: 0;
}

.detail-info {
    padding-top: 20px;
    margin: 0;
    width: 86vw;
}

.detail-business-name {
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
}

.detail-contact-info {
    margin: 0;
    padding: 0;
}

.detail-contact-info-row {
    height: 90px;
}

.detail-contact-info-box {
    border: solid 1px lightgrey;
}

.detail-info-col-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-left: 1px solid rgba(0,0,0,.1);
}

.detail-address-icon-border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.detail-address-border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.detail-phone-icon-border {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.detail-phone-border {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.detail-info-col {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0,0,0,.1);
}

.reviews-header {
    font-weight: 400;
}

.review-owner {
    color: lightslategray;
}

@media(min-width: 769px) {
    #login-btn {
        width: 20vw;
    }
}