@import './_config';

.login-page {
    display: flex;
    justify-content: center;
    .card-body {
        width: 60vw;
        height: 425px;
    }
    form {
        padding-top: 20px;
    }
}

#site-title {
    text-align: center;
    margin: 100px 0 50px 0;
}

.signup-page {
    display: flex;
    justify-content: center;
    .card-body {
        width: 60vw;
        height: 710px;
    }
    padding-bottom: 30px;
    .signup-error {
        margin-bottom: 0;
        color: red;
    }
}

.search-nav-item {
    margin-right: 20px;
}

#login-btn {
    border-radius: 30px;
    width: 30vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.menu-dropdown {
    margin-right: 90px;
}

@media(min-width: 769px) {
    #login-btn {
        width: 20vw;
    }
}